@page
@model SWE30003_Group5_Koala.Pages.Manage.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container mt-5">
    <h2 class="mb-4">Admin Management</h2>
    <div class="list-group">
        <a href="@Url.Page("/Manage/MenuItemManager/Index")" class="list-group-item list-group-item-action">Menu Item Manager</a>
        <a href="@Url.Page("/Manage/OrdersManager/Index")" class="list-group-item list-group-item-action">Orders Manager</a>
        <a href="@Url.Page("/Manage/ReservationsManager/Index")" class="list-group-item list-group-item-action">Reservations Manager</a>
        @if (Model.UserRole != "Staff")
        {
            <a href="@Url.Page("/Manage/UsersManager/Index")" class="list-group-item list-group-item-action">User Manager</a>
        }
    </div>
</div>