@page
@model SWE30003_Group5_Koala.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Place order</h1>
    <form method="post" id="orderForm">
        <label id="orderType">Choose your Order Type</label>
        <select asp-for="OrderType" id="orderType" class="form-control">
            <option value="takeaway">Takeaway</option>
            <option value="dinein">Dine in</option>
        </select>
        <fieldset>
            <legend>Order Item</legend>
            <div id="orderItemContainer"></div>
            <button type="button" id="addOrderItem">Add</button>
        </fieldset>
        <p>Price: $<input type="text" id="total" asp-for="TotalAmount" readonly></p>
        <p>Please select your payment method:</p>
        <input type="radio" id="cash" name="paymentMethod" value="cash">
        <label for="cash">Cash</label><br>
        <input type="radio" id="card" name="paymentMethod" value="card">
        <label for="card">Card</label><br>
        <div id="cardDetails" style="display: none;">
            <label for="cardNumber">Card Number</label>
            <input type="text" id="cardNumber" name="cardNumber" maxlength="16" placeholder="Enter your card number">

            <label for="cardName">Card Name</label>
            <input type="text" id="cardName" name="cardName" placeholder="Enter name on card">

            <label for="cardCVV">CVV</label>
            <input type="text" id="cardCVV" name="cardCVV" maxlength="3" placeholder="CVV">
        </div>
        <button type="submit">Place order</button>
    </form>
    <script>
        const menuItems = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.MenuItems));
    </script>
    <script src="~/js/order.js"></script>
</body>
</html>