@page
@model SWE30003_Group5_Koala.Pages.ReservationModel
@{
    ViewData["Title"] = "Reservation";
}

<!--The following is just a template to show how Razor Pages works, feel free to delete/modify it.-->
<h1>@Model.Message</h1>
<p>This is a basic Razor page example.</p>