@page
@model SWE30003_Group5_Koala.Pages.UnauthorizedAccessModel
@{
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center" role="alert">
                <h1 class="display-4">403</h1>
                <p class="lead">Unauthorized Access</p>
                <hr class="my-4">
                <p>You do not have permission to access this page.</p>
                <p class="mb-0">If you believe this is an error, please contact support.</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <a href="/Index" class="btn btn-primary">Back to Home</a>
</div>